html{
  box-sizing: border-box;
  font-family: 'Passion One', cursive;
  min-height: 100%;
  border: 20px solid #001a1a;
  background-color: #004d4d;
}

body{
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1{
	font-size: 3.5em;
	margin-top: 50px
}

.make-editable{
	width: 450px;
	margin: 0 auto;
	margin-bottom: 100px;
	line-height: 1.75em;
	font-family: sans-serif;
}

.btn{
	padding: 10px 50px;
	border: none;
	background-color: maroon;
	font-size: 1.25em;
	color: #fff;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.btn:hover{
	background-color: #fff;
	color: maroon;
	cursor: pointer;
}

.text{
	margin-top: 50px;
	padding: 25px;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.text:focus{
	outline: none;
}

.text.edit {
	color: red;
	background-color: #000;
	border-radius: 25px;
}
